<footer>
    <div class="footerbtns">
        <a target="_blank" href="https://soundcloud.com/sl4n" title="soundcloud" class="footerlink"><i class="im im-soundcloud"></i></a>
        <a target="_blank" href="https://github.com/abakri" title="github" class="footerlink"><i class="im im-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/aslan-bakri" title="linkedin" class="footerlink"><i class="im im-linkedin"></i></a>
        <a target="_blank" href="mailto:aslan.bakri@gmail.com" title="email" class="footerlink"><i class="im im-mail"></i></a>

        <div class="footercopywrite">&copy; aslan bakri 2018</div>
    </div>
</footer>