<div class="navbar-fixed">
    <nav class="transparent z-depth-0 splashnav">
        <div class="nav-wrapper">
            <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/works">works</a></li>
                <li><a href="/blog">blog</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/works">works</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/contact">contact</a></li>
</ul>

<div id="aboutmodal" class="modal">
    <div class="modal-content">
        <h4>hey, i'm aslan!</h4>
        <p>I am a Computer Science and Economics student at the University of Rochester with a passion for application development, human computer interaction, and an obsession user experience and design.</p>
        <p>I'm a full-stack web developer, visual designer, and I prefer tabs over spaces! In my free time, I am a vocalist and music producer. I'm also a member of University of Rochester's After Hours A Cappella.</p>
        <p>I'm also a proud UWC alumn from United World College Southeast Asia, which I was recruited to as a scholar. During my time there I have been a part of various service projects including Tsunami Education Fund, and other community service activities. I also facilitated a peace conference in Timor Leste as aprt of the Initiative for Peace program.</p>
    </div>
</div>