<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Enriqueta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <% include ../partials/head %>
    <link href="/css/about.css" rel="stylesheet">
</head>

<body>
<% include ../partials/nav %>

<div class="aboutoverlaytxt" id="overlay1">
    a little about me.
</div>

<div class="container">
    <img class="aboutimg responsive-img" src="images/aboutimg.jpg" alt="me singing">
    <p id="aboutcontent">
        I am a Computer Science and Economics student at the University of Rochester with a passion for application development, 
        human computer interaction, and an obsession with user experience and design. I'm a full-stack web developer, visual designer, and 
        I prefer tabs over spaces! In my free time, I am a vocalist and music producer. I'm also a member of University of Rochester's 
        After Hours A Cappella. I'm also a proud UWC alumn from United World College Southeast Asia, which I was recruited to as a scholar. 
        During my time there I have been a part of various service projects including Tsunami Education Fund, and other community service activities. 
        I also facilitated a peace conference in Timor Leste as part of the Initiative for Peace program.
    </p>

</div>

<%include ../partials/footer %>
<%include ../partials/scripts %>

</body>

</html>