<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link href="/css/splash.css" rel="stylesheet" type="text/css">
    <script>
        let host = "www.aslanbakri.com";
        if ((host == window.location.host) && (window.location.protocol != "https:")){
            window.location.protocol = "https";
        }
    </script>
</head>

<body>
<% include ../partials/splashnav %>

<div class="splashbg"></div>

<div class="splash">
    <div class="splashtitle center">
        <h1 class="bigname">aslan bakri</h1>
        <h4>software / design / music</h2>
    </div>
</div>

<div class="splashbtngroup">
  <ul>
    <li><a target="_blank" href="https://soundcloud.com/sl4n" class="btn-floating grey darken-2" title="soundcloud"><i class="im im-soundcloud"></i></a></li>
    <li><a target="_blank" href="https://github.com/abakri" class="btn-floating grey darken-2" title="github"><i class="im im-github"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/aslan-bakri" class="btn-floating grey darken-2" title="linkedin"><i class="im im-linkedin"></i></a></li>
    <li><a target="_blank" href="files/AslanBakri_Resume_2018.pdf" class="btn-floating grey darken-2 pulse" title="resume"><i class="im im-file"></i></a></li>
  </ul>
</div>

<% include ../partials/scripts %>

<script src="js/fixedactionbtn.js"></script>
<script src="js/tooltip.js"></script>

<script>
    tippy('.btn-floating');
</script>   
</body>

</html>