<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="content">
    <% include ../partials/nav %>

    <p style="color:white;text-align:center;">Works coming soon!</p>
</div>
    
<% include ../partials/footer%>
<%include ../partials/scripts %>

</body>

</html>